fastapi
uvicorn[standard]
sqlalchemy
databases[mysql]
pydantic
python-multipart
passlib[bcrypt]
python-jose[cryptography]
aiohttp
pymongo
joblib
python-dotenv
pytest
black
isort
pydantic_settings
pydantic[email]
motor